body {
  padding-top: 70px;
}

footer {
  padding: 40px 0 40px 0;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.delete-link {
  color: red;
  font-size: 10px;
}

